SUBSYSTEM=="usb", ATTR{idVendor}=="0825", ATTR{idProduct}=="0826", MODE="0666", GROUP="users"
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="0825", ATTRS{idProduct}=="0826", MODE="0666"
